@import url("https://fonts.cdnfonts.com/css/montserrat");
@import url("https://fonts.cdnfonts.com/css/poppins");

:root {
  --margin-provider: calc(100% - 6rem);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Montserrat",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 600px) {
  :root {
    --margin-provider: calc(100% - 3rem);
  }
}

@media screen and (max-width: 500px) {
  :root {
    --margin-provider: calc(100% - 2rem);
  }
}
